header.header
    .header_column
        .header_icon
            a(href=routes.home)
                i.fab.fa-youtube  #{siteName}
    .header_column
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) LogIn    