.social_buttons
    button.social_button_google
        span
            i.fab.fa-google
        | Continue with Google
    button.social_button_facebook
        span
            i.fab.fa-facebook
        | Continue with FaceBook
    button.social_button_github
        span
            i.fab.fa-github
        | Continue with GitHub