.socialButtons
    button.googleBtn
        .googleContainer
            a(href=routes.googleLogin)
                img(src="uploads/socialButtonLogos/googleLogo.png")
                span Continue with Google
    button.facebookBtn
        .facebookContainer
            a(href=routes.facebookLogin)    
                img(src="uploads/socialButtonLogos/facebookLogo.png")
                span Continue with FaceBook
    button.githubBtn
        .githubContainer
            a(href=routes.githubLogin)
                img(src="uploads/socialButtonLogos/githubLogo.png")
                span Continue with Github
