.socialButtons
    button.googleBtn
        .googleContainer
           img(src="uploads/socialButtonLogos/googleLogo.png")
           span Continue with Google
    button.facebookBtn
        .facebookContainer
            img(src="uploads/socialButtonLogos/facebookLogo.png")
            span Continue with FaceBook
    button.githubBtn
        .githubContainer
            img(src="uploads/socialButtonLogos/githubLogo.png")
            span Continue with Github
