* {
    box-sizing: border-box;
}

html,
body {
    // height: 100%;
    min-height: 100vh;
}
body {
    background-color: #f5f5f5;
    color: $black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

main {
    width: 100%;
    // max-width: 1600px;
    // margin: 0 auto;
    min-height: 80vh;
    // padding-bottom: 2.5rem
    .searchTerm {
        font-size: 1.5rem;
        padding: 1rem;
        margin-left: 4%;
        span {
            font-weight: bold;
            padding: 10px;
            quotes: '“' '”' '‘' '’';
            font-size: 2rem;
        }
        span::before {
            content: open-quote;
            font-size: 2rem;
            padding: 5px;
        }
        span::after {
            content: close-quote;
            font-size: 2rem;
            padding: 5px;
        }
    }
}

a,
button,
input[type='submit'] {
    cursor: pointer;
}
