.commentList {
    .commentBlock {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        .imageBox {
            float: left;
            width: 10%;
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
        .rightBox {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            width: 85%;
            .commentInfo {
                padding-left: 20px;
                margin-bottom: 8px;
                span {
                    display: inline-block;
                    margin-right: 10px;
                    font-size: 14px;
                    &:first-child {
                        font-weight: 600;
                    }
                    &:last-child {
                        color: #030303;
                        font-size: 13px;
                    }
                }
            }
            .content {
                padding-left: 20px;
                margin-bottom: 8px;
                font-size: 16px;
            }
            .buttonBox {
                padding-left: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                span {
                    display: inline-block;
                    margin-right: 10px;
                    button {
                        all: unset;
                        i {
                            font-size: 13px;
                            color: #b2bec3;
                        }
                    }
                    span.cnt {
                        display: inline-block;
                        font-size: 14px;
                        margin-left: 10px;
                        color: black;
                    }
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5) {
                        margin-right: 15px;
                        i {
                            font-size: 16px;
                            color: rgba(44, 62, 80, 0.8);
                        }
                    }
                }
            }
        }
    }
}
