.videoBlock {
    a {
        text-decoration: none;
        color: $black;
    }
    .videoInfo {
        padding-left: 5px;
    }
    video {
        margin-bottom: 10px;
        max-width: 275px;
        height: auto;
    }
    h3,
    h4 {
        padding-left: 10px;
    }
    h4 {
        color: rgba(0, 0, 0, 0.6);
    }
    h4.videoBlockCreator {
        margin-bottom: 5px;
        a {
            color: rgba(108, 92, 231, 0.6);
            text-decoration: none;
        }
        a:hover {
            color: rgba(108, 92, 231, 1);
        }
    }
    .videoBlockTitle {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 10px;
    }
}
