.videoBlock {
    width: 100%;
    padding-top: 56.25%;
    height: 0px;
    position: relative;
    background-color: black;
    a {
        text-decoration: none;
        color: $black;
    }
    video {
        margin-bottom: 10px;
        @media (min-width: 1281px) {
            max-width: 375px;
        }
        @media (min-width: 1025px) and (max-width: 1280px) {
            max-width: 275px;
        }
        height: auto;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .videoInfo {
        margin-top: 1rem;
        h3,
        h4 {
            padding-left: 10px;
        }
        h4 > span {
            color: rgba(0, 0, 0, 0.6);
        }
        h4.videoBlockCreator {
            margin-bottom: 5px;
            a {
                color: rgba(108, 92, 231, 0.6);
                text-decoration: none;
            }
            a:hover {
                color: rgba(108, 92, 231, 1);
            }
        }
        .videoBlockTitle {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 10px;
        }
    }
}
