extends ./layouts/main

block content
    .change-password-container
        form(action=`${routes.users}${routes.changePassword}` method="post")
            input(text="password" name="current-password" placeholder="Current Password")
            input(text="password" name="new-password" placeholder="New Password")
            input(text="password" name="verify-password" placeholder="Verify Password")
            input(text="submit" value="SAVE")