extends ./layouts/main

block content
    .changePasswordContainer
        form(action=`${routes.users}${routes.changePassword}` method="post")
            input(text="password" name="currentPassword" placeholder="Current Password")
            input(text="password" name="newPassword" placeholder="New Password")
            input(text="password" name="verifyPassword" placeholder="Verify Password")
            input(text="submit" value="SAVE")