extends ./layouts/main

block content
    h2 Edit Your Profile  
    .formContainer
        form(action=`${routes.users}${routes.editProfile}` method="post")
            .fileContainer
                label(for="avatar") Change your Avatar
                input(type="file" name="avatar" id="avatar" accept="image/*")
                input(type="text" name="fileName" readonly)
            input(type="text" name="name" placeholder="Name")
            input(type="email" name="email" placeholder="Email")
            input(type="submit" value="SAVE")
    a.changePasswordLink(href=`${routes.users}${routes.changePassword}`) Change Password 