extends ./layouts/main
include ./mixins/videoBlock

block content   
    .videosContainer
        each video in videos
            +videoBlock({
                file : video.file,
                title : video.title,
                description : video.description,
                views : video.views
            })
        