extends ./layouts/main
include ./mixins/videoBlock

block content   
    .videosContainer
        each video in videos
            +videoBlock({
                id : video.id,
                file : video.fileUrl,
                title : video.title,
                description : video.description,
                views : video.views,
                createdAt : video.createdAt
            })
        