extends ./layouts/main

block content   
    .formContainer
        form(action=routes.join, method="post")
            input(type="text" name="name" placeholder="Name" required)
            input(type="email" name="email" placeholder="Email" required)
            input(type="password" name="password" placeholder="Password" required)
            input(type="password" name="verifyPassword" placeholder="Verify Password" required)
            input(type="submit" value="JOIN US")
            include ./partials/socialButtons    