extends ./layouts/main

block content   
    .formContainer
        form(action=routes.login, method="get")
            input(type="email" name="email" placeholder="Email")
            input(type="password" name="password" placeholder="Password")
            input(type="submit" value="LOGIN")
            include ./partials/socialButtons
