mixin modalBlock
    .modalBlock.hidden#jsModalBlock
        .modalLayout#jsModalLayout
        .modal
            .modalContent
                p Sign in to make your opinion
            .modalButton
                button#jsModalLoginBtn 
                    a#jsModalLoginLink(href='/login') LOGIN
                button#jsModalJoinBtn 
                    a#jsModalJoinLink(href='/join') JOIN