extends ./layouts/main

block content
    h2.changePasswordTitle Change Password
    .changePasswordContainer
        form(action=`${routes.users}${routes.changePassword}` method="post" required)
            input(type="password" name="currentPassword" placeholder="Current Password" required)
            input(type="password" name="newPassword" placeholder="New Password" required)
            input(type="password" name="verifyPassword" placeholder="Verify Password" required)
            input(type="submit" value="Change now")