mixin modalBlock
    .modalBlock.hidden#jsModalBlock
        .modalLayout#jsModalLayout
        .modal
            .modalContent
                p Sign in to make your opinion
            .modalButton
                button#jsModalLoginBtn SIGN IN
                button#jsModalJoinBtn JOIN                                                                                                                             