.socialButtons
    button.googleBtn
        .googleContainer
            a(href=routes.googleLogin)
                img(src="uploads/socialButtonLogos/googleLogo.png")
                span Continue with Google
    button.githubBtn
        .githubContainer
            a(href=routes.githubLogin)
                img(src="uploads/socialButtonLogos/githubLogo.png")
                span Continue with Github
    //- button.naverBtn
    //-     .naverContainer
    //-         a(href=routes.naverLogin)    
    //-             img(src="https://mblogthumb-phinf.pstatic.net/MjAxODAyMDRfMTc5/MDAxNTE3NzM5NzEwODQ5.Iuq8IadvKqMzTf3KT8tuCa5d-UzHv0jVGVBcqiaWBXkg.XvPs5zN44RPUWpfzP1ibkv1hlgeghrRm08jMT8AJab0g.PNG.krazymouse/%EB%84%A4%EC%9D%B4%EB%B2%84.png?type=w800")
    //-             span Continue with Naver
