h2.changePasswordTitle {
    margin: 0;
}
.changePasswordContainer {
    display: flex;
    flex-direction: column;
    form {
        width: 100%;
        margin-bottom: 30px;
        input {
            outline: none;
            box-sizing: content-box;
            display: block;
            margin: auto;
            width: 100%;
            max-width: 320px;
            padding: 7px 10px 7px 10px;
            font-size: 15px;
            border-radius: 5px;
            border: none;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            margin-bottom: 15px;
            &:first-child {
                margin-top: 20px;
            }
        }
        input[type='submit'] {
            color: $white;
            background-color: $red;
        }
    }
}
