.editFormContainer {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .fileContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            padding: 5px 10px;
            border-radius: 10px;
            margin-bottom: 1.2rem;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            label {
                margin-right: 10px;
            }
            input {
                font-size: 16px;
            }
        }
        input[name='name'],
        input[name='email'] {
            outline: none;
            border: none;
            width: 427px;
            padding: 8px 10px;
            font-size: 16px;
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            margin-bottom: 1.2rem;
        }

        textarea {
            margin: auto;
            width: 427px;
            height: 100px;
            padding: 5px;
            outline: none;
            resize: none;
            font-size: 16px;
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            white-space: pre-line;
        }
        & > input.editBtn {
            width: 427px;
            height: 30px;
            line-height: 18px;
            margin-bottom: 1.2rem;
            border-radius: 5px;
            font-size: 16px;
            background-color: #c0392b;
            padding: 8px 10px;
            color: $white;
            outline: none;
            border: none;
            margin-top: 2rem;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        }
    }
}

a.changePasswordLink {
    display: block;
    width: 427px;
    height: 30px;
    line-height: 28px;
    margin: auto;
    background-color: #3498db;
    color: $white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
