.videosContainer {
    display: grid;
    @media (min-width: 1281px) {
        grid-template-columns: repeat(5, 1fr);
        margin: 40px 50px;
        grid-column-gap: 30px;
        grid-row-gap: 7rem;
    }
    @media (min-width: 1025px) and (max-width: 1280px) {
        grid-template-columns: repeat(4, 1fr);
        margin: 40px 50px;
        grid-column-gap: 30px;
        grid-row-gap: 7rem;
    }
    @media (max-width: 1024px) {
    }
}

.notFound {
    width: 50%;
    margin: 1rem auto;
    // display: flexbox;
    // align-items: center;
    // justify-content: center;
    img {
        border-radius: 50%;
    }
}
