.formContainer {
    form {
        .fileContainer {
            label {
                display: block;
            }
        }
    }
}

a.changePasswordLink {
    display: block;
    width: 340px;
    height: 30px;
    line-height: 28px;
    margin: auto;
    background-color: #3498db;
    color: $white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}
