/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html,
body {
  min-height: 100vh; }

body {
  background-color: #f5f5f5;
  color: #282828;
  font-family: 'Roboto', sans-serif;
  font-size: 14px; }

main {
  width: 100%;
  min-height: 80vh;
  padding-bottom: 2.5rem; }

a,
button,
input[type='submit'] {
  cursor: pointer; }

.header {
  width: 100%;
  margin-bottom: 30px;
  padding: 7px;
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  z-index: 7;
  top: 0; }
  .header.headerFixed {
    position: fixed;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 5px 10px rgba(0, 0, 0, 0.23);
    -webkit-animation: smoothScroll 0.3s ease-in-out;
            animation: smoothScroll 0.3s ease-in-out; }

@-webkit-keyframes smoothScroll {
  0% {
    transform: translateY(-40px); }
  100% {
    transform: translateY(0px); } }

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px); }
  100% {
    transform: translateY(0px); } }
  .header .headerWrapper {
    padding: 5px 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center; }
    .header .headerWrapper .headerColumn a {
      text-decoration: none;
      color: #282828; }
      .header .headerWrapper .headerColumn a .icon {
        color: #ff0000;
        font-size: 30px; }
      .header .headerWrapper .headerColumn a span {
        font-size: 25px;
        padding: 3px; }
    .header .headerWrapper .headerColumn:nth-child(2) {
      width: 100%;
      justify-self: center; }
    .header .headerWrapper .headerColumn:last-child {
      justify-self: end;
      font-size: 20px; }
    .header .headerWrapper .headerColumn ul {
      display: flex;
      color: white;
      font-weight: 600;
      text-transform: uppercase; }
      .header .headerWrapper .headerColumn ul li:not(:last-child) {
        margin-right: 15px; }
    .header .headerWrapper .headerColumn form {
      width: 100%; }
      .header .headerWrapper .headerColumn form .searchingBar {
        text-align: center; }
        .header .headerWrapper .headerColumn form .searchingBar input {
          padding: 5.5px 10px;
          width: 80%;
          border: 1px solid #d3d3d3;
          border-radius: 5px;
          font-size: 16px;
          font-family: 'Roboto', sans-serif;
          color: #282828; }
          .header .headerWrapper .headerColumn form .searchingBar input::-webkit-input-placeholder {
            font-weight: 600px;
            color: rgba(0, 0, 0, 0.6); }
          .header .headerWrapper .headerColumn form .searchingBar input::-moz-placeholder {
            font-weight: 600px;
            color: rgba(0, 0, 0, 0.6); }
          .header .headerWrapper .headerColumn form .searchingBar input:-ms-input-placeholder {
            font-weight: 600px;
            color: rgba(0, 0, 0, 0.6); }
          .header .headerWrapper .headerColumn form .searchingBar input::-ms-input-placeholder {
            font-weight: 600px;
            color: rgba(0, 0, 0, 0.6); }
          .header .headerWrapper .headerColumn form .searchingBar input::placeholder {
            font-weight: 600px;
            color: rgba(0, 0, 0, 0.6); }
        .header .headerWrapper .headerColumn form .searchingBar button {
          all: unset;
          width: 10%;
          height: 32px;
          text-align: center;
          background-color: rgba(223, 230, 233, 0.5);
          border: 1px solid #d3d3d3;
          border-radius: 5px;
          color: rgba(0, 0, 0, 0.5);
          cursor: pointer; }
          .header .headerWrapper .headerColumn form .searchingBar button i {
            font-size: 14px; }
          .header .headerWrapper .headerColumn form .searchingBar button:hover {
            background-color: #dfe6e9;
            color: black; }

.footer {
  position: relative;
  bottom: 0;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-top: 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-top: 30px; }
  .footer i {
    color: #ff0000;
    font-size: 18px; }

h2 {
  text-align: center;
  font-size: 30px; }

.formContainer form {
  width: 100%;
  margin-bottom: 30px; }
  .formContainer form input {
    outline: none;
    box-sizing: content-box;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 320px;
    padding: 7px 10px 7px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 15px; }
    .formContainer form input:first-child {
      margin-top: 20px; }
  .formContainer form input[type='submit'] {
    color: white;
    background-color: #ff0000; }

.socialButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  max-width: 700px; }
  .socialButtons button {
    all: unset;
    width: 100%;
    max-width: 200px;
    font-size: 15px;
    margin: auto;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 8px;
    text-align: center; }
    .socialButtons button div a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #282828; }
      .socialButtons button div a img {
        width: 22px;
        height: 22px;
        margin-right: 10px; }
    .socialButtons button:hover {
      border: 1px solid #282828; }

.videoBlock {
  width: 100%;
  padding-top: 56.25%;
  height: 0px;
  position: relative;
  background-color: black; }
  .videoBlock a {
    text-decoration: none;
    color: #282828; }
  .videoBlock video {
    margin-bottom: 10px;
    height: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    @media (min-width: 1281px) {
      .videoBlock video {
        max-width: 375px; } }
    @media (min-width: 1025px) and (max-width: 1280px) {
      .videoBlock video {
        max-width: 275px; } }
  .videoBlock .videoInfo {
    margin-top: 1rem; }
    .videoBlock .videoInfo h3,
    .videoBlock .videoInfo h4 {
      padding-left: 10px; }
    .videoBlock .videoInfo h4 > span {
      color: rgba(0, 0, 0, 0.6); }
    .videoBlock .videoInfo h4.videoBlockCreator {
      margin-bottom: 5px; }
      .videoBlock .videoInfo h4.videoBlockCreator a {
        color: rgba(108, 92, 231, 0.6);
        text-decoration: none; }
      .videoBlock .videoInfo h4.videoBlockCreator a:hover {
        color: #6c5ce7; }
    .videoBlock .videoInfo .videoBlockTitle {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 10px; }

.progressBar,
i {
  cursor: pointer; }

.videoPlayer {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 20px; }
  .videoPlayer video {
    width: 100%; }
  .videoPlayer:hover .progressBar,
  .videoPlayer:hover .videoPlayerControl {
    opacity: 1; }
  .videoPlayer .progressBar {
    position: absolute;
    bottom: 2.3rem;
    z-index: 3;
    width: 100%;
    height: 5px;
    border-radius: 15px;
    background-color: rgba(223, 230, 233, 0.6);
    margin: 3px auto 10px;
    padding-left: 0.1rem;
    transition: opacity 0.3s ease-out; }
  .videoPlayer .videoPlayerControl {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    z-index: 3;
    bottom: 0.9rem;
    color: white;
    transition: opacity 0.3s ease-out;
    vertical-align: bottom; }
    .videoPlayer .videoPlayerControl .videoPlayerColumn {
      font-size: 16px;
      display: flex;
      flex-direction: row;
      justify-items: center;
      align-items: center; }
      .videoPlayer .videoPlayerControl .videoPlayerColumn > span {
        display: inline-block; }
      .videoPlayer .videoPlayerControl .videoPlayerColumn:first-child > span {
        padding-left: 1.2em;
        padding-right: 1em; }
      .videoPlayer .videoPlayerControl .videoPlayerColumn:nth-child(2) {
        justify-self: end; }
        .videoPlayer .videoPlayerControl .videoPlayerColumn:nth-child(2) > span {
          padding-left: 1em;
          position: relative; }
          .videoPlayer .videoPlayerControl .videoPlayerColumn:nth-child(2) > span > input {
            -webkit-appearance: none;
            position: absolute;
            left: 10px;
            bottom: -0.2em;
            outline: none;
            width: 70px;
            height: 3px;
            z-index: 3; }
            .videoPlayer .videoPlayerControl .videoPlayerColumn:nth-child(2) > span > input::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: white; }
      .videoPlayer .videoPlayerControl .videoPlayerColumn:last-child {
        justify-self: end; }
        .videoPlayer .videoPlayerControl .videoPlayerColumn:last-child > span {
          padding-right: 1.2em;
          font-size: 18px; }
          .videoPlayer .videoPlayerControl .videoPlayerColumn:last-child > span:active {
            transform: scale(1.2, 1.2);
            transition: transform 0.3 linear; }
          .videoPlayer .videoPlayerControl .videoPlayerColumn:last-child > span:hover {
            transform: scale(1.2, 1.2);
            transition: transform 0.3 linear; }

.recordContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .recordContainer video {
    width: 100%;
    margin-bottom: 10px;
    max-width: 340px;
    border-radius: 10px;
    height: auto;
    margin: 0 auto 15px;
    background-color: #282828; }
  .recordContainer button {
    all: unset;
    width: 100%;
    max-width: 320px;
    background-color: #3498db;
    color: white;
    box-sizing: content-box;
    padding: 7px 10px 7px 10px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer; }

.commentList .commentBlock {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; }
  .commentList .commentBlock .imageBox {
    float: left;
    width: 10%; }
    .commentList .commentBlock .imageBox img {
      width: 40px;
      height: 40px;
      border-radius: 50%; }
  .commentList .commentBlock .rightBox {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 85%; }
    .commentList .commentBlock .rightBox .commentInfo {
      padding-left: 20px;
      margin-bottom: 8px; }
      .commentList .commentBlock .rightBox .commentInfo span {
        display: inline-block;
        margin-right: 10px;
        font-size: 14px; }
        .commentList .commentBlock .rightBox .commentInfo span:first-child {
          font-weight: 600; }
        .commentList .commentBlock .rightBox .commentInfo span:last-child {
          color: #030303;
          font-size: 13px; }
    .commentList .commentBlock .rightBox .content {
      padding-left: 20px;
      margin-bottom: 8px;
      font-size: 16px; }
    .commentList .commentBlock .rightBox .buttonBox {
      padding-left: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start; }
      .commentList .commentBlock .rightBox .buttonBox span {
        display: inline-block;
        margin-right: 10px; }
        .commentList .commentBlock .rightBox .buttonBox span button {
          all: unset; }
          .commentList .commentBlock .rightBox .buttonBox span button i {
            font-size: 13px;
            color: #b2bec3; }
        .commentList .commentBlock .rightBox .buttonBox span span.cnt {
          display: inline-block;
          font-size: 14px;
          margin-left: 10px;
          color: black; }
        .commentList .commentBlock .rightBox .buttonBox span:nth-child(3), .commentList .commentBlock .rightBox .buttonBox span:nth-child(4), .commentList .commentBlock .rightBox .buttonBox span:nth-child(5) {
          margin-right: 15px; }
          .commentList .commentBlock .rightBox .buttonBox span:nth-child(3) i, .commentList .commentBlock .rightBox .buttonBox span:nth-child(4) i, .commentList .commentBlock .rightBox .buttonBox span:nth-child(5) i {
            font-size: 16px;
            color: rgba(44, 62, 80, 0.8); }

.modalBlock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4; }
  .modalBlock.hidden {
    display: none; }
  .modalBlock .modalLayout {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5; }
  .modalBlock .modal {
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    width: 270px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee;
    z-index: 6; }
    .modalBlock .modal .modalContent {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: #7f8c8d; }
    .modalBlock .modal .modalButton {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      z-index: 6; }
      .modalBlock .modal .modalButton button {
        all: unset;
        font-size: 15px;
        color: white;
        padding: 6px;
        border-radius: 5px;
        width: 70px;
        cursor: pointer; }
        .modalBlock .modal .modalButton button:first-child {
          background-color: #ff0000; }
        .modalBlock .modal .modalButton button:last-child {
          background-color: #2980b9; }

.videoWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin: 0 auto 30px; }
  .videoWrapper:first-child {
    width: 90%;
    margin: auto; }
    .videoWrapper:first-child .videoContainer .videoPlayer {
      width: 100%;
      padding-top: 56.25%;
      height: 0px;
      position: relative;
      background-color: black; }
      .videoWrapper:first-child .videoContainer .videoPlayer video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
    .videoWrapper:first-child .videoContainer .videoInfo {
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
      .videoWrapper:first-child .videoContainer .videoInfo *:not(:last-child) {
        margin-bottom: 15px; }
      .videoWrapper:first-child .videoContainer .videoInfo a.editBtn {
        background-color: #c0392b;
        color: white;
        width: 7rem;
        font-size: 15px;
        padding: 0.4rem;
        border-radius: 10px;
        text-decoration: none;
        text-align: center; }
      .videoWrapper:first-child .videoContainer .videoInfo .videoTitle {
        font-size: 22px;
        font-weight: bold; }
      .videoWrapper:first-child .videoContainer .videoInfo .info {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr); }
        .videoWrapper:first-child .videoContainer .videoInfo .info .infoColumn:first-child .videoViews {
          font-size: 18px;
          color: rgba(0, 0, 0, 0.6); }
        .videoWrapper:first-child .videoContainer .videoInfo .info .infoColumn:nth-child(2) {
          text-align: right; }
          .videoWrapper:first-child .videoContainer .videoInfo .info .infoColumn:nth-child(2) span {
            display: inline-block;
            color: #909090; }
            .videoWrapper:first-child .videoContainer .videoInfo .info .infoColumn:nth-child(2) span.selected {
              color: #2980b9; }
            .videoWrapper:first-child .videoContainer .videoInfo .info .infoColumn:nth-child(2) span.hover {
              color: #2c3e50; }
            .videoWrapper:first-child .videoContainer .videoInfo .info .infoColumn:nth-child(2) span button {
              all: unset; }
              .videoWrapper:first-child .videoContainer .videoInfo .info .infoColumn:nth-child(2) span button i {
                font-size: 18px; }
            .videoWrapper:first-child .videoContainer .videoInfo .info .infoColumn:nth-child(2) span span.cnt {
              margin: 0 25px 0 15px;
              font-size: 16px;
              font-weight: bold;
              color: black;
              cursor: pointer; }
    .videoWrapper:first-child .videoContainer .videoDescription {
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      padding-left: 20px; }
      .videoWrapper:first-child .videoContainer .videoDescription .videoCreator {
        margin: 20px 0 15px 0; }
        .videoWrapper:first-child .videoContainer .videoDescription .videoCreator a {
          color: rgba(108, 92, 231, 0.6);
          text-decoration: none; }
        .videoWrapper:first-child .videoContainer .videoDescription .videoCreator a:hover {
          color: #6c5ce7; }
      .videoWrapper:first-child .videoContainer .videoDescription p.description {
        margin: 5px 0 15px 0; }
    .videoWrapper:first-child .commentContainer {
      padding-left: 20px;
      padding-top: 20px; }
      .videoWrapper:first-child .commentContainer h3 {
        font-size: 18px; }
      .videoWrapper:first-child .commentContainer form {
        margin: 10px; }
        .videoWrapper:first-child .commentContainer form img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          float: left; }
        .videoWrapper:first-child .commentContainer form input[type='text'] {
          margin-left: 5%;
          padding: 3px 0 10px 15px;
          width: 85%;
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.5);
          font-size: 16px;
          outline: none;
          background-color: #f5f5f5; }
        .videoWrapper:first-child .commentContainer form input[type='text']:focus {
          border-bottom: 1px solid black; }
        .videoWrapper:first-child .commentContainer form .btnBox {
          clear: both;
          width: 97%;
          text-align: right; }
          .videoWrapper:first-child .commentContainer form .btnBox button {
            all: unset;
            width: 90px;
            height: 25px;
            padding: 5px;
            text-align: center;
            border-radius: 10px;
            cursor: pointer;
            font-weight: bold; }
            .videoWrapper:first-child .commentContainer form .btnBox button:first-child {
              color: #606060; }
            .videoWrapper:first-child .commentContainer form .btnBox button:last-child {
              color: white;
              background-color: rgba(189, 195, 199, 0.7); }
  .videoWrapper:last-child {
    width: 90%;
    margin: auto; }

.videosContainer {
  display: grid; }
  @media (min-width: 1281px) {
    .videosContainer {
      grid-template-columns: repeat(5, 1fr);
      margin: 40px 50px;
      grid-column-gap: 30px;
      grid-row-gap: 7rem; } }
  @media (min-width: 1025px) and (max-width: 1280px) {
    .videosContainer {
      grid-template-columns: repeat(4, 1fr);
      margin: 40px 50px;
      grid-column-gap: 30px;
      grid-row-gap: 7rem; } }

h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  color: #c0392b; }

.editVideoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; }
  .editVideoContainer form * {
    display: block;
    margin-bottom: 20px;
    width: 300px;
    border: none;
    font-size: 16px;
    border-radius: 8px; }
  .editVideoContainer form textarea {
    resize: none; }
  .editVideoContainer form textarea,
  .editVideoContainer form input[type='text'] {
    box-sizing: content-box;
    outline: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 3px 4px; }
  .editVideoContainer form input[type='submit'] {
    background-color: #c0392b;
    color: white;
    height: 25px;
    margin-left: 5px; }

a.deleteVideoLink {
  display: block;
  width: 300px;
  height: 25px;
  line-height: 25px;
  margin: auto;
  background-color: #2980b9;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  font-size: 16px; }

h1.profileTitle {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.8em;
  color: #c0392b; }

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 2%;
  width: 25%;
  border: 2px solid #bdc3c7;
  border-radius: 10px;
  margin: auto; }
  .profileContainer > *:not(:last-child) {
    margin-bottom: 1rem; }
  .profileContainer .avatarBox img {
    width: 200px;
    height: 200px;
    border-radius: 100px; }
  .profileContainer .name {
    font-size: 1.5rem;
    font-weight: bold; }
  .profileContainer .email {
    color: rgba(0, 0, 0, 0.7); }
  .profileContainer a {
    display: inline-block;
    background-color: #c0392b;
    color: white;
    width: 160px;
    height: 22px;
    padding: 2px 0 2px;
    border-radius: 10px;
    text-decoration: none;
    line-height: 20px;
    text-align: center;
    line-height: 22px; }
    .profileContainer a.changeBtn {
      background-color: #27ae60; }

.formContainer form .fileContainer label {
  display: block; }

a.changePasswordLink {
  display: block;
  width: 340px;
  height: 30px;
  line-height: 28px;
  margin: auto;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 16px; }

h2.changePasswordTitle {
  margin: 0; }

.changePasswordContainer {
  display: flex;
  flex-direction: column; }
  .changePasswordContainer form {
    width: 100%;
    margin-bottom: 30px; }
    .changePasswordContainer form input {
      outline: none;
      box-sizing: content-box;
      display: block;
      margin: auto;
      width: 100%;
      max-width: 320px;
      padding: 7px 10px 7px 10px;
      font-size: 15px;
      border-radius: 5px;
      border: none;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      margin-bottom: 15px; }
      .changePasswordContainer form input:first-child {
        margin-top: 20px; }
    .changePasswordContainer form input[type='submit'] {
      color: white;
      background-color: #ff0000; }
