include ../mixins/messageBlock

doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width')
        title #{pageName} | #{siteName}
        script(src="https://kit.fontawesome.com/1433f86547.js", crossorigin="anonymous")
        link(rel="shortcut icon" href="#")
        link(rel="stylesheet", href="/static/styles.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet")
    body
        if messages.error
            +messageBlock({
                type:'error',
                text:messages.error
            })
        else if messages.info
            +messageBlock({
                type:'info',
                text:messages.info
            })
        else if messages.success
            +messageBlock({
                type:'success',
                text:messages.success
            })
        include ../partials/header
        main#jsMain
            block content
        include ../partials/footer
        script(src="/static/main.js")
